In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [2]:
ser = pd.Series([5,1,0,9,3],index=list('acdbe'))
ser.sort_index()

a    5
b    9
c    1
d    0
e    3
dtype: int64

▲ 程序清单 4.61 Series 类的 sort_index 方法

In [3]:
ser = pd.Series([5,1,0,9,3],index=list('いおあうえ'))
ser.sort_index(ascending=False)

お    1
え    3
う    9
い    5
あ    0
dtype: int64

▲程序清单 4.62 sort_index 方法的 ascending 参数

In [4]:
np.random.seed(seed=1)
val = np.random.randint(0,10,size=9,).reshape(3,3)
df = pd.DataFrame(val, index=[2,0,1],columns=list('cba'))
df

   c  b  a
2  5  8  9
0  5  0  0
1  1  7  6

▲  程序清单 4.63 DataFrame 对象的创建

In [5]:
df.sort_index(axis=0)

   c  b  a
0  5  0  0
1  1  7  6
2  5  8  9

In [6]:
df.sort_index(axis=1)

   a  b  c
2  9  8  5
0  0  0  5
1  6  7  1

▲程序清单 4.64 sort_index 方法的 axis 参数

In [7]:
df.index = [2,np.nan,1]
df

      c  b  a
 2.0  5  8  9
NaN   5  0  0
 1.0  1  7  6

▲ 程序清单 4.65 为索引标签添加缺失值

In [8]:
df.sort_index(na_position='first')

      c  b  a
NaN   5  0  0
 1.0  1  7  6
 2.0  5  8  9

▲ 程序清单 4.66 sort_index 方法的 na_position 参数

In [9]:
ser = pd.Series([4,1,0,3,2])
ser.sort_values()

2    0
1    1
4    2
3    3
0    4
dtype: int64

▲ 程序清单 4.67 Series 类的 sort_values 方法

In [10]:
ser = pd.Series(list('いおあうえ'))
ser.sort_values(ascending=False)

1    お
4    え
3    う
0    い
2    あ
dtype: object

▲ 程序清单 4.68 sort_values 方法的 ascending 参数

In [11]:
np.random.seed(seed=10)
scores = np.random.randint(70,100,size=20,).reshape(5,4)
df = pd.DataFrame(scores, columns=['math','eng','chem','phys'])
df

   math  eng  chem  phys
0    79   99    74    85
1    70   87    97    98
2    95   99    86    99
3    87   96    78    79
4    70   80    78    92

▲程序清单 4.69 DataFrame 对象的创建

In [12]:
df.sort_values(by='math')

   math  eng  chem  phys
1    70   87    97    98
4    70   80    78    92
0    79   99    74    85
3    87   96    78    79
2    95   99    86    99

▲ 程序清单 4.70 DataFrame 类的 sort_values 方法的 by 参数

In [13]:
df.sort_values(by=['math','eng'])

   math  eng  chem  phys
4    70   80    78    92
1    70   87    97    98
0    79   99    74    85
3    87   96    78    79
2    95   99    86    99

▲ 程序清单 4.71 使用 sort_values 方法的 by 参数指定多个列

In [14]:
df.sort_values(by='phys', ascending=False, inplace=True)

In [15]:
df

   math  eng  chem  phys
2    95   99    86    99
1    70   87    97    98
4    70   80    78    92
0    79   99    74    85
3    87   96    78    79

▲ 程序清单 4.72 sort_values 方法的 inplace 参数

In [16]:
df['eng'].nlargest(3)

2    99
0    99
3    96
Name: eng, dtype: int32

▲ 程序清单 4.73 Series 类的 nlargest 方法

In [17]:
df['phys'].nsmallest(3)

3    79
0    85
4    92
Name: phys, dtype: int32

In [18]:
df['phys'].sort_values().head(3)

3    79
0    85
4    92
Name: phys, dtype: int32

▲  程序清单 4.74 Series 类的 nsmallest 方法

In [19]:
df.nlargest(3, 'eng')

   math  eng  chem  phys
2    95   99    86    99
0    79   99    74    85
3    87   96    78    79

▲ 程序清单 4.75 DataFrame 类的 nlargest 方法