In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [39]:
val = [[8,7,6,],[8,7,6],[8,7,6]]
df = pd.DataFrame(val, index=list('edf') ,columns=list('abc'))
df

   a  b  c
e  8  7  6
d  8  7  6
f  8  7  6

▲ 程序清单 6.53 DataFrame 对象的创建

In [40]:
df.duplicated(keep='first')

e    False
d     True
f     True
dtype: bool

▲ 列表6.54:数据帧的duplicated方法

In [41]:
df.duplicated(keep='last')

e     True
d     True
f    False
dtype: bool

In [42]:
df.duplicated(keep=False)

e    True
d    True
f    True
dtype: bool

▲ 程序清单 6.55 duplicated 方法和 keep 参数（last 和 False）

In [43]:
df.loc['f', 'b'] = 5
df.duplicated(subset='a', keep=False)

e    True
d    True
f    True
dtype: bool

In [44]:
df.duplicated(subset='b', keep=False)

e     True
d     True
f    False
dtype: bool

▲ 程序清单 6.56 duplicated 方法和 subset 参数

In [45]:
df.duplicated(subset=['a','b'], keep=False)

e     True
d     True
f    False
dtype: bool

▲ 程序清单 6.57 duplicated 方法和 subset 参数（多个列）

In [46]:
df[df.duplicated(keep=False)]

   a  b  c
e  8  7  6
d  8  7  6

▲ 程序清单 6.58 从 DataFrame 对象引用重复的位置

In [47]:
df['a'].duplicated(keep=False)

e    True
d    True
f    True
Name: a, dtype: bool

▲程序清单 6.59 Series 类的 duplicated 方法

In [48]:
df.index = ['d','d','e']
df.index.duplicated(keep=False)

array([ True,  True, False])

▲ 程序清单 6.60 Index 对象的 duplicated 方法

In [49]:
# 数据帧制作
val = [[8,7,6,],[8,7,6],[8,5,6]]
df = pd.DataFrame(val, index=list('edf') ,columns=list('abc'))
df

   a  b  c
e  8  7  6
d  8  7  6
f  8  5  6

▲ 程序清单 6.61 DataFrame 对象的创

In [50]:
df.drop_duplicates(keep='first')

   a  b  c
e  8  7  6
f  8  5  6

▲ 程序清单 6.62 DataFrame 类的 drop_duplicates 方法

In [51]:
df.drop_duplicates(keep='last')

   a  b  c
d  8  7  6
f  8  5  6

In [52]:
df.drop_duplicates(keep=False)

   a  b  c
f  8  5  6

▲ 程序清单 6.63 drop_duplicates 方法的 keep 参数（last 和 False）

In [53]:
df.drop_duplicates(subset=['a','b'], keep=False)

   a  b  c
f  8  5  6

▲ 程序清单 6.64 drop_duplicates 方法的 subset 参数

In [54]:
df['b'].drop_duplicates(keep='first')

e    7
f    5
Name: b, dtype: int64

In [55]:
df.index = ['d','d','e']
df.index.drop_duplicates(keep='first')

Index(['d', 'e'], dtype='object')

▲ 程序清单 6.65 Series 对象和 Index 对象的 drop_duplicates 方法