In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [2]:
df = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [3]:
df['c'] = [1,2]
df['d'] = 3
df.loc[:,'e'] = [5,6]
df

   a  b  c  d  e
0  1  2  1  3  5
1  3  4  2  3  6

▲ 程序清单 5.1 使用方括号（[ ]）和 loc 属性添加新的列

In [4]:
df2 = pd.DataFrame([[1,2],[3,4]])
df2.iloc[:, 2] = [5,6]

IndexError: single positional indexer is out-of-bounds

▲  程序清单 5.2 iloc 属性和扩展代入

In [5]:
df = df.assign(f=[7,8])
df

   a  b  c  d  e  f
0  1  2  1  3  5  7
1  3  4  2  3  6  8

▲ 程序清单 5.3 DataFrame 类的 assign 方法

In [6]:
df = df.assign(g=9,h=10)
df

   a  b  c  d  e  f  g   h
0  1  2  1  3  5  7  9  10
1  3  4  2  3  6  8  9  10

▲程序清单 5.4 DataFrame 类的 assign 方法（多个）

In [7]:
df.loc[2] = list(range(8))
df

   a  b  c  d  e  f  g   h
0  1  2  1  3  5  7  9  10
1  3  4  2  3  6  8  9  10
2  0  1  2  3  4  5  6   7

▲程序清单 5.5 使用 loc 属性添加新的行

In [8]:
df = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df

   a  b
0  1  2
1  3  4

In [9]:
df2 = pd.DataFrame([[5,6]], columns=list('ab'))
df2

   a  b
0  5  6

In [10]:
df.append(df2)

   a  b
0  1  2
1  3  4
0  5  6

▲ 程序清单 5.6 DataFrame 类的 append 方法

In [11]:
df.append(df2, ignore_index=True)

   a  b
0  1  2
1  3  4
2  5  6

▲ 程序清单 5.7 append 方法的 ignore_index 参数

In [12]:
df3 = pd.DataFrame([[7,8,9]],columns=['a','b','c'])
df.append(df3)

   a  b    c
0  1  2  NaN
1  3  4  NaN
0  7  8  9.0

▲ 程序清单 5.8 添加不同列标签的 DataFrame 对象

In [13]:
val = np.arange(0,12).reshape(3,4)
df = pd.DataFrame(val, columns=list('abcd'))
del df['d']
df

   a  b   c
0  0  1   2
1  4  5   6
2  8  9  10

▲程序清单 5.9 使用 del 语句删除列

In [14]:
df.drop(labels='b', axis=1)

   a   c
0  0   2
1  4   6
2  8  10

▲  程序清单 5.10 DataFrame 类的 drop 方法（axis=1）

In [15]:
df.drop(labels=2, axis=0)

   a  b  c
0  0  1  2
1  4  5  6

▲ 程序清单 5.11 DataFrame 类的 drop 方法（axis=0）

In [16]:
df.drop(columns=['a','c'])

   b
0  1
1  5
2  9

▲ 程序清单 5.12 drop 方法的 columns 参数

In [17]:
df.drop(index=2)

   a  b  c
0  0  1  2
1  4  5  6

▲ 程序清单 5.13 drop 方法的 index 参数

In [18]:
popped = df.pop('c')
popped

0     2
1     6
2    10
Name: c, dtype: int32

▲ 程序清单 5.14 DataFrame 类的 pop 方法

In [19]:
df = pd.DataFrame([[1,2,3,],[4,5,6],[7,8,9]], columns=list('abc'))
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
df = df.loc[[0,2],'a':'b']
df

   a  b
0  1  2
2  7  8

▲  程序清单 5.15 使用索引引用删除行和列