In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [2]:
df1 = pd.DataFrame({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'c':['c0','c1','c2'],
})

df1

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2

In [3]:
df2 = pd.DataFrame({
    'a':['a3','a4','a5'],
    'b':['b3','b4','b5'],
    'c':['c3','c4','c5'],
})

df2

    a   b   c
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5

▲ 程序清单 5.16 DataFrame 对象的创建

In [4]:
pd.concat([df1, df2], axis=0)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5

▲  程序清单 5.17 concat 函数

In [5]:
df3 = pd.DataFrame({
    'a':['a6','a7','a8'],
    'b':['b6','b7','b8'],
    'c':['c6','c7','c8'],
})

pd.concat([df1,df2,df3], axis=0)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5
0  a6  b6  c6
1  a7  b7  c7
2  a8  b8  c8

▲ 程序清单 5.18 3 个 DataFrame 对象的连接

In [6]:
# Series 对象的连接
ser1 = pd.Series(['s1','s2'])
ser2 = pd.Series(['s3','s4'])
pd.concat([ser1,ser2], axis=0)

0    s1
1    s2
0    s3
1    s4
dtype: object

▲ 程序清单 5.19 Series 对象的连接

In [7]:
pd.concat([df1,df2], axis=1)

    a   b   c   a   b   c
0  a0  b0  c0  a3  b3  c3
1  a1  b1  c1  a4  b4  c4
2  a2  b2  c2  a5  b5  c5

▲ 程序清单 5.20 concat 函数和 axis 参数

In [8]:
pd.concat([ser1,ser2], axis=1)

    0   1
0  s1  s3
1  s2  s4

In [9]:
ser1.name = 'series1'
ser2.name = 'series2'
pd.concat([ser1,ser2], axis=1)

  series1 series2
0      s1      s3
1      s2      s4

▲ 程序清单 5.21 Series 对象和 concat 函数（axis=1）

In [10]:
dft = df1.copy()
dft.columns = ['a','b','d']
pd.concat([df1,dft], axis=0)

    a   b    c    d
0  a0  b0   c0  NaN
1  a1  b1   c1  NaN
2  a2  b2   c2  NaN
0  a0  b0  NaN   c0
1  a1  b1  NaN   c1
2  a2  b2  NaN   c2

▲ 程序清单 5.22 DataFrame 对象和 concat 函数（axis=0）

In [11]:
dft = df1.copy()
dft.index = [0,2,4]
pd.concat([df1,dft], axis=1)

     a    b    c    a    b    c
0   a0   b0   c0   a0   b0   c0
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2   a1   b1   c1
4  NaN  NaN  NaN   a2   b2   c2

▲ 程序清单 5.23 DataFrame 对象和 concat 函数（axis=1）

In [12]:
pd.concat([df1,dft], axis=1, join='outer')

     a    b    c    a    b    c
0   a0   b0   c0   a0   b0   c0
1   a1   b1   c1  NaN  NaN  NaN
2   a2   b2   c2   a1   b1   c1
4  NaN  NaN  NaN   a2   b2   c2

In [13]:
pd.concat([df1,dft], axis=1, join='inner')

    a   b   c   a   b   c
0  a0  b0  c0  a0  b0  c0
2  a2  b2  c2  a1  b1  c1

▲ 程序清单 5.24 concat 函数的 join 参数

In [14]:
pd.concat([df1,dft], axis=1, join_axes=[df1.index])

    a   b   c    a    b    c
0  a0  b0  c0   a0   b0   c0
1  a1  b1  c1  NaN  NaN  NaN
2  a2  b2  c2   a1   b1   c1

▲  程序清单 5.25 concat 函数的 join_axes 参数

In [15]:
pd.concat([df1,df2], axis=0, ignore_index=True)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

▲ 程序清单 5.26 concat 函数的 ignore_index 参数（axis=0）

In [16]:
pd.concat([df1,df2], axis=1, ignore_index=True)

    0   1   2   3   4   5
0  a0  b0  c0  a3  b3  c3
1  a1  b1  c1  a4  b4  c4
2  a2  b2  c2  a5  b5  c5

▲ 程序清单 5.27 concat 函数的 ignore_index 参数（axis=1）

In [17]:
df1.append(df2)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
0  a3  b3  c3
1  a4  b4  c4
2  a5  b5  c5

▲ 程序清单 5.27 concat 函数的 ignore_index 参数（axis=1）

In [18]:
df1.append(df2, ignore_index=True)

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2
3  a3  b3  c3
4  a4  b4  c4
5  a5  b5  c5

▲ 程序清单 5.29 append 方法的 ignore_index 参数

In [19]:
dft = df2.copy()
dft.columns = ['a','b','d']
df1.append(dft.loc[0,:])

    a   b    c    d
0  a0  b0   c0  NaN
1  a1  b1   c1  NaN
2  a2  b2   c2  NaN
0  a3  b3  NaN   c3

▲ 程序清单 5.30 DataFrame 类的 append 方法

In [20]:
ser1 = pd.Series(['s1','s2','s3'])
ser2 = pd.Series(['s4','s5','s6'])
ser1.append(ser2)

0    s1
1    s2
2    s3
0    s4
1    s5
2    s6
dtype: object

▲ 程序清单 5.31 Series 类的 append 方法

In [21]:
ser1.index = ['a','b','c']
ser1.name = 'ser1'
df1.append(ser1)

       a   b   c
0     a0  b0  c0
1     a1  b1  c1
2     a2  b2  c2
ser1  s1  s2  s3

▲ 程序清单 5.32 DataFrame 类的 append 方法

In [22]:
leftdf = pd.DataFrame({
    'a':['a0','a1','a2'],
    'b':['b0','b1','b2'],
    'key':['k0','k1','k2'],
})

leftdf

    a   b key
0  a0  b0  k0
1  a1  b1  k1
2  a2  b2  k2

In [23]:
rightdf = pd.DataFrame({
    'c':['c0','c1','c2'],
    'd':['d0','d1','d2'],
    'key':['k0','k1','k2'],
})

rightdf

    c   d key
0  c0  d0  k0
1  c1  d1  k1
2  c2  d2  k2

▲ 程序清单 5.33 DataFrame 对象的创建

In [24]:
pd.merge(leftdf, rightdf, on='key')

    a   b key   c   d
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k2  c2  d2

▲程序清单 5.34 merge 函数

In [25]:
left2 = leftdf.copy()
left2.columns = ['a','b','key_left']
pd.merge(left2, rightdf, left_on='key_left', right_on='key')

    a   b key_left   c   d key
0  a0  b0       k0  c0  d0  k0
1  a1  b1       k1  c1  d1  k1
2  a2  b2       k2  c2  d2  k2

▲ 程序清单 5.35 merge 函数的 left_on 参数和 right_on 参数

In [26]:
ser1 = pd.Series(['a3','b3','left_k3'],index=['a','b','key'])
leftdf = leftdf.append(ser1, ignore_index=True)
leftdf

    a   b      key
0  a0  b0       k0
1  a1  b1       k1
2  a2  b2       k2
3  a3  b3  left_k3

In [27]:
ser2 = pd.Series(['c3','d3','right_k3'],index=['c','d','key'])
rightdf = rightdf.append(ser2, ignore_index=True)
rightdf

    c   d       key
0  c0  d0        k0
1  c1  d1        k1
2  c2  d2        k2
3  c3  d3  right_k3

▲ 程序清单 5.36 append 方法

In [28]:
pd.merge(leftdf, rightdf, on=['key'], how='inner')

    a   b key   c   d
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k2  c2  d2

▲程序清单 5.37 merge 函数的 how 参数（inner）

In [29]:
pd.merge(leftdf, rightdf, on=['key'], how='outer')

     a    b       key    c    d
0   a0   b0        k0   c0   d0
1   a1   b1        k1   c1   d1
2   a2   b2        k2   c2   d2
3   a3   b3   left_k3  NaN  NaN
4  NaN  NaN  right_k3   c3   d3

▲ 程序清单 5.38 merge 函数的 how 参数（outer）

In [30]:
pd.merge(leftdf, rightdf, on=['key'], how='left')

    a   b      key    c    d
0  a0  b0       k0   c0   d0
1  a1  b1       k1   c1   d1
2  a2  b2       k2   c2   d2
3  a3  b3  left_k3  NaN  NaN

In [31]:
pd.merge(leftdf, rightdf, on=['key'], how='right')

     a    b       key   c   d
0   a0   b0        k0  c0  d0
1   a1   b1        k1  c1  d1
2   a2   b2        k2  c2  d2
3  NaN  NaN  right_k3  c3  d3

▲ 程序清单 5.39 merge 函数的 how 参数（left 和 right）

In [32]:
left2 = leftdf.copy()
left2['key2'] = ['k20','k21','k22','k23']
left2

    a   b      key key2
0  a0  b0       k0  k20
1  a1  b1       k1  k21
2  a2  b2       k2  k22
3  a3  b3  left_k3  k23

In [33]:
right2 = rightdf.copy()
right2['key2'] = ['k20','k21','k21','k22']
right2

    c   d       key key2
0  c0  d0        k0  k20
1  c1  d1        k1  k21
2  c2  d2        k2  k21
3  c3  d3  right_k3  k22

In [34]:
pd.merge(left2,right2, on=['key','key2'], how='inner')

    a   b key key2   c   d
0  a0  b0  k0  k20  c0  d0
1  a1  b1  k1  k21  c1  d1

▲程序清单 5.40 使用多个键值的合并

In [35]:
left2.index = ['あ','い','う','え']
right2.index = ['か','き','く','け']
pd.merge(left2, right2, on=['key','key2'], how='outer')

     a    b       key key2    c    d
0   a0   b0        k0  k20   c0   d0
1   a1   b1        k1  k21   c1   d1
2   a2   b2        k2  k22  NaN  NaN
3   a3   b3   left_k3  k23  NaN  NaN
4  NaN  NaN        k2  k21   c2   d2
5  NaN  NaN  right_k3  k22   c3   d3

▲  程序清单 5.41 merge 函数与索引标签

In [36]:
left2 = leftdf.copy()
left2.index = left2['key']
left2.drop('key',axis=1,inplace=True)
left2

          a   b
key
k0       a0  b0
k1       a1  b1
k2       a2  b2
left_k3  a3  b3

In [37]:
right2 = rightdf.copy()
right2.index = right2['key']
right２.drop('key',axis=1,inplace=True)
right2

           c   d
key
k0        c0  d0
k1        c1  d1
k2        c2  d2
right_k3  c3  d3

▲  程序清单 5.42 将列 key 变更为索引标签

In [38]:
pd.merge(left2, right2, left_index=True, right_index=True, how='outer')

            a    b    c    d
key
k0         a0   b0   c0   d0
k1         a1   b1   c1   d1
k2         a2   b2   c2   d2
left_k3    a3   b3  NaN  NaN
right_k3  NaN  NaN   c3   d3

▲  程序清单 5.43 merge 函数的 left_index 参数和 right_index 参数

In [39]:
pd.merge(left2, rightdf, left_index=True, right_on='key', how='outer')

     a    b    c    d       key
0   a0   b0   c0   d0        k0
1   a1   b1   c1   d1        k1
2   a2   b2   c2   d2        k2
3   a3   b3  NaN  NaN   left_k3
3  NaN  NaN   c3   d3  right_k3

▲程序清单 5.44 基于索引标签和列进行合并

In [40]:
left2.join(right2, how='outer')

            a    b    c    d
key
k0         a0   b0   c0   d0
k1         a1   b1   c1   d1
k2         a2   b2   c2   d2
left_k3    a3   b3  NaN  NaN
right_k3  NaN  NaN   c3   d3

▲ 程序清单 5.45 DataFrame 类的 join 方法

In [41]:
right2 = rightdf[0:2].copy()
right2['key'] = 'k0'
right2

    c   d key
0  c0  d0  k0
1  c1  d1  k0

In [42]:
left2 = leftdf[0:2].copy()
left2['key'] = 'k0'
left2

    a   b key
0  a0  b0  k0
1  a1  b1  k0

▲ 程序清单 5.46 DataFrame 对象的创建

In [43]:
pd.merge(left2,right2, on='key')

    a   b key   c   d
0  a0  b0  k0  c0  d0
1  a0  b0  k0  c1  d1
2  a1  b1  k0  c0  d0
3  a1  b1  k0  c1  d1

▲ 程序清单 5.47 包含重复键值的 DataFrame 对象的合并

In [44]:
pd.merge(left2,right2, on='key', validate='one_to_one')

MergeError: Merge keys are not unique in either left or right dataset; not a one-to-one merge

▲ 程序清单 5.48 merge 函数的 validate 参数（one_to_one）

In [45]:
pd.merge(left2,right2, on='key', validate='many_to_many')

    a   b key   c   d
0  a0  b0  k0  c0  d0
1  a0  b0  k0  c1  d1
2  a1  b1  k0  c0  d0
3  a1  b1  k0  c1  d1

▲ 程序清单 5.49 merge 函数的 validate 参数（many_to_many）

In [46]:
rightdf.columns = leftdf.columns
pd.merge(leftdf, rightdf, on='key')

  a_x b_x key a_y b_y
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k2  c2  d2

▲ 程序清单 5.50 包含重复列标签的 DataFrame 对象的合并

In [47]:
pd.merge(leftdf, rightdf, on='key', suffixes=['_左','_右'])

  a_左 b_左 key a_右 b_右
0  a0  b0  k0  c0  d0
1  a1  b1  k1  c1  d1
2  a2  b2  k2  c2  d2

▲程序清单 5.51 merge 函数的 suffixes 参数