In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

▲预先执行的代码

In [2]:
ser = pd.Series([0,1,2,3,4], index=list('abcde'))
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

▲ 程序清单 7.30 Series 对象的创建

In [3]:
for val in ser:
    print(val)

0
1
2
3
4

▲ 程序清单 7.31 Series 对象和 for 语句

In [4]:
for idx in ser.index:
    print(idx)

a
b
c
d
e

▲ 程序清单 7.32 index 属性和 for 语句

In [5]:
for idx, val in ser.iteritems():
    print(idx, val)

a 0
b 1
c 2
d 3
e 4

▲ 程序清单 7.33 Series 对象的 iteritems 方法

In [6]:
for idx, val in ser.iteritems():
    if val < 3:
        print(idx)

a
b
c

▲程序清单 7.34 Series 对象的 iteritems 方法和 if 语句

In [7]:
val = [[81,79],[91,90]]
df = pd.DataFrame(val, columns=['math','eng'], index=list('AB'))
df

   math  eng
A    81   79
B    91   90

In [8]:
for col in df:
    print(col)

math
eng

▲ 程序清单 7.35 DataFrame 对象和 for 语句

In [9]:
for col in df.columns:
    print(col)

math
eng

In [10]:
for idx in df.index:
    print(idx)

A
B

▲  程序清单 7.36 columns 属性、index 属性和 for 语句

In [11]:
for idx,val in df.iterrows():
    print(idx)
    print(val, '\n')

A
math    81
eng     79
Name: A, dtype: int64

B
math    91
eng     90
Name: B, dtype: int64

▲ 程序清单 7.37 DataFrame 对象的 iterrows 方法

In [12]:
df2 = df.copy()
df2['math'] = [81.0, 91.0]
df2.dtypes

math    float64
eng       int64
dtype: object

▲  程序清单 7.38 数据类型的确认

In [13]:
row = next(df2.iterrows())[1]
row

math    81.0
eng     79.0
Name: A, dtype: float64

▲ 程序清单 7.39 Python 内置函数 next

In [14]:
print(df2['eng'].dtype)
print(row['eng'].dtype)

int64
float64

▲ 程序清单 7.40 数据类型的确认

In [15]:
for idx, value in df2.iterrows():
    value['math'] = 'a'

In [16]:
df2

   math  eng
A  81.0   79
B  91.0   90

▲ 程序清单 7.41 基于循环处理对值进行更新

In [17]:
for idx, value in df2.iterrows():
    df2.loc[idx, 'math'] = 'a'

In [18]:
df2

  math  eng
A    a   79
B    a   90

▲ 程序清单 7.42 基于循环处理对值进行更新（DataFrame 对象）

In [19]:
for idx, value in df2.iterrows():
    if idx == 'A':
        df2.loc[idx, 'math'] = 81
    else:
        df2.loc[idx, 'math'] = 91

df2

   math  eng
A    81   79
B    91   90

▲ 程序清单 7.43 基于循环处理和 if 语句的条件分支

In [20]:
for col, val in df.iteritems():
    print(col)
    print(val, '\n')

math
A    81
B    91
Name: math, dtype: int64

eng
A    79
B    90
Name: eng, dtype: int64

▲ 程序清单 7.44 DataFrame 对象的 iteritems 方法

In [21]:
for col, val in df.iteritems():
    mean = val.mean()
    print(col, '的平均值是 ', mean)

math 的平均值是  86.0
eng 的平均值是  84.5

▲程序清单 7.45 iteritems 方法和 mean 方法

In [22]:
for row in df.itertuples():
    print(row)

Pandas(Index='A', math=81, eng=79)
Pandas(Index='B', math=91, eng=90)

▲  程序清单 7.46 DataFrame 对象的 itertuples 方法

In [23]:
for row in df.itertuples(index=False):
    print(row)

Pandas(math=81, eng=79)
Pandas(math=91, eng=90)

▲ 程序清单 7.47 itertuples 方法和 index 参数

In [24]:
for row in df.itertuples():
    print('index:', row[0], 'math :', row[1], 'eng :', row.eng)

index: A math : 81 eng : 79
index: B math : 91 eng : 90

▲  程序清单 7.48 命名元组的数据引用

In [25]:
for row in df.itertuples(name=None):
    print(row)

('A', 81, 79)
('B', 91, 90)

▲ 程序清单 7.49 itertuples 方法和 name 参数

In [26]:
df2 = df.copy()
df2['math'] = [81.0, 91.0]
df2

   math  eng
A  81.0   79
B  91.0   90

In [27]:
row = next(df2.itertuples())
row

Pandas(Index='A', math=81.0, eng=79)

In [28]:
print(df2.loc['A','eng'], 'dtype = ', type(df2.loc['A','eng']))
print(row[2], 'dtype = ', type(row[2]))

79 dtype =  <class 'numpy.int64'>
79 dtype =  <class 'int'>

▲  程序清单 7.50 数据类型的确认